<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 实例</title>
    <link rel="stylesheet" href="Style/reset.css" type="text/css">

    <script src="lib/vue.js"></script>
    <script src="lib/axios.js"></script>

    <script src="js/area.js"></script>
    <script src="js/constellation.js"></script>

    <style>
        .red {
            color: #f00;
        }

        .green {
            color: #0f0;
        }

        .yellow {
            color: #ff0;
        }
    </style>
</head>
<body>
<form id="app">
    身份证号码：<input v-model="idCard" placeholder="请输入身份证号码"><br>
    地区：{{areaInfo}}<br>
    生日：{{birthday}}<br>
    年龄：{{age}}<br>
    星座：{{constellation}}<br>
    性别：<span>{{gender}}</span><br>

    <span v-bind:class="{ red:flag==0||flag==2, green:flag==1}">
        <span v-if=" flag == 1 ">
            通过校验
        </span>
        <span v-else-if=" flag == 0 ">
            请填写身份证号码
        </span>
        <span v-else>
            没有通过
        </span>
    </span>
</form>
<script src="js/vue_idCard.js"></script>
</body>
</html>